---
import Layout from "../layouts/Layout.astro";

import { createServerClient, type CookieOptions } from "@supabase/ssr";

const supabase = createServerClient(
	import.meta.env.PUBLIC_SUPABASE_URL,
	import.meta.env.PUBLIC_SUPABASE_ANON_KEY,
	{
		cookies: {
			get(key: string) {
				return Astro.cookies.get(key)?.value;
			},
			set(key: string, value: string, options: CookieOptions) {
				Astro.cookies.set(key, value, options);
			},
			remove(key: string, options) {
				Astro.cookies.delete(key, options);
			},
		},
	},
);

const { data, error } = await supabase.from("posts").select("*");

console.log(data, error);
---

<Layout title="Blueprint Astro-Supabase">
	<main>
		{JSON.stringify(data, null, 2)}
	</main>
</Layout>
